<p id="notice"><%= notice %></p>
<%= form_tag import_owners_path, multipart: true do %>
<br><br><br>
  <h1>Import Instructions</h1><br>
  <h3>A CSV or Excel file can be used to import records.</h3><br>
    <h3>Before importing CSV file</h3>
    <p>
    1. Your <u>first row</u> inside your CSV should be 
    the column name. The following columns are allowed:<br>
    <ul>
      <b>
        <li>HEADER</li>
        <li>TITLE *</li>
        <li>SUBTITLE *</li>
        <li>RECIPIENT NAME *</li>
        <li>FIRST PARAGRAPH *</li>
        <li>SECOND PARAGRAPH *</li>
        <li>FIRST ASSIGNATORY NAME *</li>
        <li>FIRST ASSIGNATORY POSITION *</li>
        <li>SECOND ASSIGNATORY NAME</li>
        <li>SECOND ASSIGNATORY POSITION</li>
        <li>THIRD ASSIGNATORY NAME</li>
        <li>THIRD ASSIGNATORY POSITION</li>
      </b>
    </ul>
    2. All items marked “*” are required that must be completed.<br>
    3. The column names <b>must</b> be CAPITALIZE.
    <h3> Upload logo </h3>
    (note that it's' optional to upload logo.)<br><br>
    <%= file_field_tag :logo, id: :owner_logo, :accept => '.png , .jpg'%>  
    <br>
    
    <h3>Import CSV file</h3>
    1. Click Choose File.<br>
    2. Locate your CSV file, then click Open.<br>
    3. Click Upload file.<br><br>
      <%= file_field_tag :file, :accept => '.csv, .xls, .xlsx' %>
      <%= submit_tag "Import", data: { confirm: 'Are you sure you want to IMPORT NEW RECORDS?                         Note: Old records will be permanently deleted, if you wish to import new records.' } %>
    </p>
    <%= link_to 'Back', root_path %>
<% end %>