<p id="notice"><%= notice %></p>

<h1>Automate Certificate Creation</h1>
<%= link_to 'For Individuals', new_owner_path %> <br>
<%= link_to 'For Multiple Records', import_instructions_owners_path %> <br><br>
<div class="media">
  <div class="media-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Header</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Recipient Name</th>
            <th>First Paragraph</th>
            <th>Second Paragraph</th>
            <th>First Assignatory Name</th>
            <th>Position</th>
            <th>Second Assignatory Name</th>
            <th>Position</th>
            <th>Logo</th>
          </tr>
        </thead>

        <tbody>
          <% @owners.each do |owner| %>
            <tr>
              <td><%= owner.header %></td>
              <td><%= owner.title %></td>
              <td><%= owner.subtitle %></td>
              <td><%= owner.recipient_name %></td>
              <td><%= owner.first_paragraph %></td>
              <td><%= owner.second_paragraph %></td>
              <td><%= owner.first_assignatory_name %></td>
              <td><%= owner.first_assignatory_position %></td>
              <td><%= owner.second_assignatory_name %></td>
              <td><%= owner.second_assignatory_position %></td>
              <td><%= image_tag owner.logo.thumb('100x100#').url if owner.logo_stored?%></td>
              <td><%= link_to 'Show', owner %></td>
              <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
              <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<br>

