<p id="notice"><%= notice %></p>

<h1>Automate Certificate Creation</h1>
<%= link_to 'Create New', template_owners_path %>
<%= form_tag(owners_path, method: :get, id:'search-form') do %>
  <%= text_field_tag :search, params[:search], placeholder:"Search Recipient Name" %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<div class="lists">
  <table id ="infos">
    <thead>
        <th>Header</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Recipient Name</th>
        <th>First Paragraph</th>
        <th>Second Paragraph</th>
        <th>First Assignatory Name</th>
        <th>Position</th>
        <th>QR code</th>
        <th>Logo</th>
        <th></th>
    </thead>

    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.header %></td>
          <td><%= owner.title %></td>
          <td><%= owner.subtitle %></td>
          <td><%= owner.recipient_name %></td>
          <td><%= owner.first_paragraph %></td>
          <td><%= owner.second_paragraph %></td>
          <td><%= owner.first_assignatory_name %></td>
          <td><%= owner.first_assignatory_position %></td>
          <td>
            <% qr_code_img = RQRCode::QRCode.new(owner.recipient_name, :size => 20, :level => :h).to_img %>
            <% owner.update_attribute :qr_code, qr_code_img.to_string %>
            <%= image_tag owner.qr_code.url %>
          </td>
          <td><%= image_tag owner.logo.thumb('100x100#').url if owner.logo_stored?%></td>
          <td><%= link_to 'Export as PDF', owner_path(owner, :format => :pdf)  %>
          <br><%= link_to 'Edit', edit_owner_path(owner) %>
          <br><%= link_to 'Delete', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <footer><p><%= link_to 'Export ALL as PDF', owners_path(@owners, :format => :pdf)%><br>
              Download:
             <%= link_to "CSV", owners_path(@owners, :format => :csv) %>|
             <%= link_to "Excel", owners_path(@owners, :format => :xlsx) %>
         </p>
  </footer>
</div>