<p id="notice"><%= notice %></p>

<h1>Owners</h1>
<div class="media">
  <div class="media-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Header</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Recipient Name</th>
            <th>First Paragraph</th>
            <th>Second Paragraph</th>
            <th>First Assignatory Name</th>
            <th>Position</th>
            <th>Second Assignatory Name</th>
            <th>Position</th>
            <th>Logo</th>
          </tr>
        </thead>

        <tbody>
          <% @owners.each do |owner| %>
            <tr>
              <td><%= owner.header %></td>
              <td><%= owner.title %></td>
              <td><%= owner.subtitle %></td>
              <td><%= owner.recipient_name %></td>
              <td><%= owner.first_paragraph %></td>
              <td><%= owner.second_paragraph %></td>
              <td><%= owner.first_assignatory_name %></td>
              <td><%= owner.first_assignatory_position %></td>
              <td><%= owner.second_assignatory_name %></td>
              <td><%= owner.second_assignatory_position %></td>
              <td><%= link_to 'Show', owner %></td>
              <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
              <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<br>

<h3>Import Schools</h3>
<%= form_tag import_owners_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Schools" %>
<% end %>

<%= link_to 'New Owner', new_owner_path %>
