<% owners.each do |owner| %>
  <p id="notice"><%= notice %></p>
  <table id="showpdf">
    <tr> 
      <td colspan="2" id="pdf_title">
      <%= @owner.title %>
      </td>
      
      <td rowspan="6" id="pdf_logo">
      </td>
    </tr>
    <tr> 
      <td colspan="2" id="pdf_sub">
        <%= @owner.subtitle %>
      </td>
    </tr>
    <tr>
      <td colspan="2" id="pdf_recipient_name">
        <%= @owner.recipient_name %>
      </td>
    </tr>
    <tr>
      <td colspan="2" id="pdf_first_paragraph">
        <p><%= @owner.first_paragraph %></p>
      </td>
    </tr>
    <tr>
      <td colspan="2" id="pdf_second_paragraph">
        <p><%= @owner.second_paragraph %></p>
      </td>
    </tr>
    <tr id="pdf_assignatory">
      <td>
        <p><%= @owner.first_assignatory_name %></p>
        <p><%= @owner.first_assignatory_position %></p>
      </td>
  
      <td>
        <p><%= @owner.second_assignatory_name %></p>
        <p><%= @owner.second_assignatory_position %></p>
      </td>
    </tr>
  </table>
<% end %>  
